# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
logs/
*.log

# Environment files
backend/.env

# Node
node_modules/

# Build folders
dist/
build/

# Database
*.db